    <%= form_tag(searches_path, method: :get) do %>
    <%= text_field_tag 'content'%>
      <span class="search-button col-xs-12 text-right">
        <%= submit_tag :"検索" %>
      </span>
    <% end %>