<div class="background3">
  <div class="row">
    <div class="col-12 cake_image">
      <p></p>
      <h1 class="d-flex justify-content-center"><strong class="introduction">ながのCAKEについて</strong></h1>
    </div>
  </div>

    <p></p>

    <div align = "center"><strong class="introduction">ながのCAKEは全国発送可能なケーキ屋さんです。</strong></div>
    <p></p>
    <div align = "center"><strong class="introduction">お子様からお年寄りの方までお召し上がりいただけるよう、</strong></div>
    <p></p>
    <div align = "center"><strong class="introduction">様々なバリエーションをご用意しております。</strong></div>
    <p></p>
    <div align = "center"><strong class="introduction">また、全国へ配送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</strong></div>
    <p></p>
    <div align = "center"><strong class="introduction"> ぜひ、ご注文ください。</strong></div>

</div>


