<div class="row">
 <div class="col-lg-12" >
   <h5>注文情報入力</h5>
   <h6><strong>支払方法</strong></h6>
 



   <h6><strong>お届け先</strong></h6>




    <div style="text-align:center"><%= link_to "確認画面へ進む", orders_log_path ,class: 'btn btn-primary' %></div>
 </div>
</div>