<div class="container">
  <div class="row align-senter justify-content-center cake_image">
    <p>
      <div style="text-align:center;">
       <h1>ご注文ありがとうございました！</h1>
       <h2>到着までしばらくお待ち下さい。</h2>
       <%= image_tag 'uy2IVCSkwxim4ty1632734298_1632734307.jpg', size:"300x300" %>
      </div>
    <p>
  </div>
</div>