<div class="container">
  <div class="row align-senter justify-content-center cake_image">
    <p>
      <div style="text-align:center;">
       <h1>ご注文ありがとうございました!</h1>
       <h2>到着までしばらくお待ち下さい</h2>
      </div>
    <p>
  </div>
</div>