
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <div style="background-color: silver; display: inline;">会員一覧</div>
    <table class="table striped">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td class="info col-xs-1">
              <%= customer.id %>
            </td>
            <td class="text-left">
              <%= link_to customer.full_name, admin_customer_path(customer), class: "text-dark" %>
            </td>
            <td class="text-left">
              <%= customer.email %>
            </td>
            <td class="col-xs-2">
              <% if customer.is_deleted == true %>
                <div class="text-secondary">退会</div>
              <% else %>
                <div class="text-success">有効</div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
