
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <div style="background-color: silver; display: inline;">会員一覧</div>
    <table class="table table-hover table-bordered table-condensed">
      <thead>
        <tr class="info">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td class="info col-xs-1">
              <%= customer.id %>
            </td>
            <td class="text-left">
              <%= link_to admin_customer_path(customer) %>
                <%= customer.full_name %>
            </td>
            <td class="text-left">
              <%= customer.email %>
            </td>
            <td class="col-xs-2">
              <% if customer.is_deleted == true %>
                <p><i class="fas fa-bullseye blue"></i>退会</p>
              <% else %>
                <p><i class="fas fa-bullseye red"></i>有効</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
