/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


.background3 {
  width: 100%;
  height: 600px;
  background-image: url('cake1.jpg');
  background-size: cover;
  background-position: center;
}

.customer-product-index {
  background-color: #EEEEEE;
}



.box {
    width: auto;
    height: auto;
    border-radius: 150px;
}

.header-logo {
  font-family: 'Amatic SC', cursive;
}

.introduction-box {
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url('ellycollection067_TP_V.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  color: rgb(0, 0, 0,);
}

.introduction {
  opacity: 1;
}

.link {
  text-decoration: none;
  color: black;
}

.header {
  background-color: #EEEEEE;
}

.shortcut {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
