/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


.background {
  width: 100%;
  height: 100%;
  background-image: url('japan.jpg');
  background-size: cover;
  background-position: center;
}

.background2 {
  width: 1200px;
  height: 500px;
  background-image: url('midori.jpg');
  background-size: cover;
  background-position: center;
}

.background3 {
  width: 100%;
  height: 550px;
  background-image: url('cake1.jpg');
  background-size: cover;
  background-position: center;
}

.customer-product-index {
  background-color: #EEEEEE;
}

.customer-product-show {
  background-color: #EEEEEE;
}

.box {
    width: auto;
    height: auto;
    border-radius: 150px;
}

.header-logo {
  font-family: 'Amatic SC', cursive;
}

.introduction-box {
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url('ellycollection067_TP_V.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  color: rgb(0, 0, 0,);
}

.introduction {
  opacity: 0.5;
}

.link {
  text-decoration: none;
  color: black;
}

.header {
  background-color: #EEEEEE;
}

.nav-link {
  margin-right: 15px;
}

//footer//
.fwrapper{
    padding-bottom: 200px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer {
  width: 100%;
  bottom: 0; /*下に固定*/
  background-color: #EEEEEE	;
  position: fixed;
  height: 100px;
  text-align: center;
}

.social {
  position: absolute;
  bottom: 17px;
  right: 150px;
}

